<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Mercado Liebre 0.1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="/css/formulario.css">
</head>

<body>
    <div class="contenedor">
        <header>
            <div class="top-header">
                <div class="logo">
                    <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                </div>
                <div class="form" action="#" method="GET">
                    <div class="input">Buscar productos, marcas y más</div>
                </div>
                <p class="compra-cuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de
                    crédito</p>
            </div>
            <nav class="opciones">
                <ul class="izq">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="der">
                    <div class="form" action="" method="GET"></div>
                    <li>
                        <a href="/registro">Creá tu cuenta <i class="far fa-id-card"></i></a>
                    </li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>
        <section class="banner">
            <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
        </section>
        <main class="prod">
            <section class="last-visit">
                <h3>Basado en tu última visita</h3>
                <div class="products">
                    <div class="cajaProductos">
                        <article class="imgProd">
                            <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                            <div class="main-article">
                                <i class="fas fa-truck"></i>
                                <p class="price">$6.770</p>
                                <p class="discount">40% off</p>
                                <h4 class="description">Cafetera Moulinex</h4>
                            </div>
                        </article>
                        <article class="imgProd">
                            <img src="images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                            <div class="main-article">
                                <i class="fas fa-truck"></i>
                                <p class="price">$230.000</p>
                                <p class="discount">20% off</p>
                                <h4 class="description">MacBook Pro 2019</h4>
                            </div>
                        </article>
                        <article class="imgProd">
                            <img src="images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy"
                                class="product_img">
                            <div class="main-article">
                                <i class="fas fa-truck"></i>
                                <p class="price">$70.500</p>
                                <p class="discount">10% off</p>
                                <h4 class="description">Samsung Galaxy S10</h4>
                            </div>
                        </article>
                        <article class="imgProd">
                            <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
                            <div class="main-article">
                                <i class="fas fa-truck"></i>
                                <p class="price">$23.200</p>
                                <p class="discount">5% off</p>
                                <h4 class="description">SmartTv Samsung 43"</h4>
                            </div>
                        </article>
                    </div>
            </section>
            <section class="offers">
                <h3>Ofertas</h3>
                <div class="products">
                    <article class="imgProd">
                        <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$6.770</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Cafetera Moulinex</h4>
                        </div>
                    </article>
                    <article class="imgProd">
                        <img src="images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                            <h4 class="description">MacBook Pro 2019</h4>
                        </div>
                    </article>
                    <article class="imgProd">
                        <img src="images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy"
                            class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                            <h4 class="description">Samsung Galaxy S10</h4>
                        </div>
                    </article>
                    <article class="imgProd">
                        <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">SmartTv Samsung 43"</h4>
                        </div>
                    </article>
                </div>

    </div>
    </section>
    </main>
    <footer>
        <footer>
            <div class="abajo">
                <section>

                    <h4>Recibimos todos los medios de pago</h4>
                    <p>Si pagas con tarjeta liebre, tenés hasta 12 cuotas sin interés</p>
                </section>
                <section>

                    <h4>Tu envio es gratis si tu compra supera los $ 4500</h4>
                    <p>Sumate a la experiencia mercado liebre y suma puntos intercambiables.</p>
                </section>
                <section>

                    <h4> Tus compras estan seguras</h4>
                    <p>Si tu compra no llega o tiene fallas te reintegramos el monto total de tu compra</p>
                </section>
            </div>

            <article class="copyright">
                <p>© MercadoLiebre S.R.L. 2023 </p>
            </article>
        </footer>

    </footer>
    </div>
</body>

</html>