*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;


}
.registro1{
    width: 100px;
    background-color: rgb(202, 202, 10);
    opacity: 0.5;
    padding: 70px;
    margin: auto;
    margin-top: 200px;
    border border-radius: 4px;

}

form.formRegistro h4{
    font-size: 30px;
    margin-bottom: 15px;
    font-weight:200;
    

}
.controls{
    width: 100%;
    background: rgb(153, 153, 58);
    padding: 10px;
    border-radius: 4px;
    border-bottom: 15px;
    border: 1px solid rgb(153, 153, 58);
    font-size: 18px;
}

form.formRegistro p{
    height: 40px;
    text-align: center;
    font-size: 18px;

}

form.formRegistro a{
    color: black;
    text-decoration: none;
}