*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.article{


}

.imgProd{
    border: #666;
    box-shadow: 5px 5px 30px;   
}
.img{
    width: 100%;

}
body{
    display: block;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb; 
}


h3{
    font-size: 24px;
}

p.compra-cuotas{
    font-size: 12px;
    text-align: center;
    position: relative;
    color: #000;
    font-size: 13;
    bottom: -25px;

}
p{
    font-size: 12px;
    color: #39b54a;
}



div.top-header{
    padding: 5%; 
}

header{
    display: block;
    width: 939px;
    height: ;
    background-color: #EAC926;
    padding: 1%;
    box-sizing: border-box;

}

.banner{
    display: block;
    width: 100%;
}


.topHeader{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 7%;
}

header div.logo{
    width: 30%;
    
}

.abajo h4 p{
    margin-left: auto;
    margin-right: 40px;
}
.abajo{
    text-align:center;
    margin-left: 30px;
}



header nav{
    font-size: 18px;

}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}
header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: -50px;
}

.izq{
    display: flex;
    width: 50%;
    justify-content: space-around;
    font-size: 14px;

}
.der{
    display:flex;
    width: 50%;
    justify-content: space-around;
    height: 20%;
    font-size: 14px;

  }



.opciones{
    display: flex;
    width: 60%
    justify-content:space-between;
    box-sizing: border-box;
    padding: 5px;

}


.form{
    position: relative;
    left: 63%;
    right: 64px;
    bottom: 60px;

}

.submit{
    position: relative;

}
.input{
    width: 35%;
    font-size: 17px;
    padding: 8px;
    border-radius: 5px;
    border: 2%;

}


div.burger-menu{
    text-align: center;
    display: none;
    padding-bottom: 25px;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    width: 40px;
}
/*aplicando css a products*/
.cajaProductos article{
    width: 50%;

    
}
div .cajaProductos{
    display: flex;




}

div .products{
    display:flex;

}

.prod{
      height: 100%;
      width:100%;

}
.product_img{
    width: 100%;
    

}
.products article{
    margin-bottom: 20px;
    width: 100%;
}

.description-product{
    display: flex;
    background-color: white;
    padding: 15px;
    border-top: 1px solid  #ebebeb;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.main-article{
    text-align: center;
}


article div.main-article{
    width: 100%;
}

.price{
    font-size: 18px;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
}

main section article{
    background-color: #fff;
}

main section article img{
    width: 100%;
}


main section article i,
.discount{
    color: #39b54a;
}



/*comportamiento adaptativo*/

 
    




